/* Base Style CSS Start */

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", serif;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

/* Gilroy Font */

@font-face {
  font-family: "Gilroy";
  src: url(../fonts//Gilroy-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy";
  src: url(../fonts//Gilroy-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Bold.ttf);
  font-weight: 700;
}

:root {
  --primary: #ff0000;
  --secondary: #232428;
  --dark: #54575b;
  --gary: #585b5f;
  --white: #ffffff;
  --black: #000000;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

.section-title h2 {
  font-family: "Playfair Display", serif;
  font-size: 34px;
  font-weight: 700;
  line-height: 39px;
  color: var(--secondary);
  margin-bottom: 0;
}

p {
  font-size: 14px;
  line-height: 24px;
  color: var(--gary);
  margin-bottom: 0;
}

p a {
  color: var(--primary);
  text-decoration: underline;
}

.primary-btn a {
  font-size: 16px;
  font-weight: 700;
  color: var(--white);
  background: var(--primary);
  padding: 14px 25px !important;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.primary-btn a:hover {
  color: var(--white);
  background: var(--secondary);
}

#About__tour,
#Where-go,
#Tour-itinerary,
#Landscapes,
#Faq {
  scroll-margin-top: 10vh;
}

/* Base Style CSS End */

/* Header Part CSS Start */

/* Navigation Section CSS Start */

nav.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 40px 0;
  z-index: 999;
}

.navbar.sticky,
.mobile-navbar.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  padding: 20px 0;
  z-index: 999;
  -webkit-animation: sticky 1.2s;
  animation: sticky 1.2s;
}

.mobile-navbar.sticky {
  padding: 30px 20px;
}

@keyframes sticky {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
}

.logo a {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 26px;
  color: var(--white);
}

.navbar.sticky .logo a {
  color: var(--black);
}

.logo a span {
  font-weight: 700;
}

.nav-link,
.nav-link:focus {
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--white);
  padding: 14px 15px !important;
  transition: all 0.3s ease-in-out;
}

li.active .nav-link {
  color: var(--primary) !important;
}

.nav-link.active {
  color: var(--primary) !important;
}

.navbar.sticky .nav-link {
  color: var(--black);
}

.nav-link:hover {
  color: var(--primary) !important;
}

.book-tour-btn a {
  color: var(--white) !important;
  margin-left: 20px;
}

.book-tour-btn a:hover {
  color: var(--white) !important;
}

@media (max-width: 992px) {
  .navbar-toggler:focus {
    box-shadow: none;
  }

  .logo a {
    font-size: 20px;
    color: var(--black);
  }

  .mobile-navbar {
    position: fixed;
    width: 100%;
    padding: 30px 50px 20px;
    background: var(--white);
  }

  .mobile-navbar.sticky {
    background: var(--white);
  }

  .mobile__nav {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    left: -100%;
    padding: 50px;
    background: var(--white);
    transition: left 0.3s ease-in-out;
  }

  .mobile__nav.active {
    left: 0;
  }

  .mobile__nav ul li {
    padding: 20px 0;
    border-top: 2px solid var(--black);
  }

  .mobile__nav ul li:last-child {
    border-bottom: 2px solid var(--black);
  }

  .mobile__nav ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Playfair Display";
    font-size: 18px;
    font-weight: 700;
    color: var(--black);
    transition: all 0.3s ease-in-out;
  }

  .mobile__nav ul li a:hover {
    color: var(--primary);
  }

  .mobile-navbar.sticky .mobile__nav ul li a {
    color: var(--black);
  }

  .mm__buttons {
    text-align: center;
    padding-top: 60px;
  }

  .mm__buttons .primary-btn a {
    display: block;
    width: 334px;
    margin: auto;
  }

  .mm__buttons .view_tour_guide_btn {
    padding-top: 30px;
    padding-left: 0;
  }

  .mm__buttons .view_tour_guide_btn a {
    color: var(--black);
  }

  .navbar-toggler {
    border: 0 !important;
  }

  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important;
  }

  .navbar-toggler .toggler-icon {
    width: 25px;
    height: 2px;
    background-color: var(--black);
    display: block;
    transition: all 0.2s;
  }

  .middle-bar {
    margin: 5px auto;
  }

  .navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }

  .navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  .navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }

  .navbar-toggler.active .top-bar {
    transform: rotate(0);
  }

  .navbar-toggler.active .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
  }

  .navbar-toggler.active .bottom-bar {
    transform: rotate(0);
  }

  .navbar-toggler.active .toggler-icon {
    background-color: var(--black);
  }
}

/* Navigation Section CSS End */

/* Hero Section CSS Start */

.hero__wrapper {
  background: url(../images/hero-bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 150px 0 80px;
}

.hero__content {
  padding-right: 200px;
}

span.sec__tag {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: var(--primary);
}

.hero__content h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 100%;
  color: var(--white);
}

.hero__content p {
  font-size: 14px;
  line-height: 24px;
  color: var(--white);
  padding: 10px 0 40px;
}

.view_tour_guide_btn {
  padding-left: 55px;
}

.view_tour_guide_btn a {
  font-size: 16px;
  font-weight: 700;
  text-decoration-line: underline;
  color: var(--white);
  transition: all 0.3s ease-in-out;
}

.view_tour_guide_btn a img {
  margin-right: 10px;
}

.view_tour_guide_btn a:hover {
  color: var(--primary);
}

.info__btn {
  padding-top: 30px;
}

.info__btn p span {
  font-size: 14px;
  font-weight: 400;
  color: var(--white);
  padding: 0 5px;
}

.hero__right h6 {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: var(--white);
  margin-bottom: 20px;
}

.hero__right h6 span {
  font-weight: 700;
}

.hero__video {
  max-width: 500px;
  width: 100%;
}

.hero__video img,
.hero__video iframe {
  width: 100%;
  height: 350px;
  padding-bottom: 5px;
  cursor: pointer;
}

/* Hero Section CSS End */

/* Header Part CSS End */

/* Main Part CSS Start */

/* About Section CSS Start */

.about__wrapper {
  padding-top: 70px;
}

.about__content h2 {
  padding-top: 10px;
}

.about__content p {
  padding-top: 30px;
}

.island__info__wrapper {
  padding-top: 60px;
}

.info__card {
  text-align: center;
}

.info__card h2 {
  font-size: 40px;
  font-weight: 700;
  color: var(--secondary);
  margin-bottom: 0;
}

.about__video {
  padding-top: 40px;
}

.about__video img,
.about__video iframe {
  max-width: 100%;
  width: 100%;
  height: 650px !important;
  height: 100%;
}

/* About Section CSS End */

/* Where Go Section CSS Start */

.where__wrapper {
  padding-top: 80px;
}

.where__top h2 {
  padding: 10px 0 20px;
}

.where__accordion .accordion-button,
.where__accordion .accordion-button:not(.collapsed) {
  font-family: "Playfair Display";
  font-size: 24px;
  font-weight: 700;
  color: var(--secondary);
  padding: 20px 0;
}

.where__accordion .accordion-item {
  border-top: 1px solid var(--black);
}

.where__accordion .accordion-body p {
  color: var(--gary);
}

.where__accordion .accordion-button::after {
  background-image: url(../images/plus-icon-dark.svg);
}

.where__accordion .accordion-button:not(.collapsed)::after {
  background-image: url(../images/minus-icon-dark.svg);
}

.where__tabs__buttons {
  margin: 30px 0 70px;
  border-bottom: 1px solid #d9d9d9;
}

.where__tabs__buttons .nav-pills {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 0px !important;
  overflow-x: auto;
}

.where__tabs__buttons .nav-link {
  min-width: max-content;
  font-size: 14px;
  font-weight: 700;
  color: var(--secondary);
  padding: 5px 10px !important;
  margin-right: 20px;
  border-bottom: 3px solid transparent;
  border-radius: 0 !important;
}

.where__tabs__buttons .nav-link.active,
.where__tabs__buttons .nav-link:hover {
  color: var(--primary);
  background: none;
  border-bottom: 3px solid var(--primary);
}

.where__img {
  padding-right: 80px;
}

.where__content {
  padding-right: 150px;
}

.where__content span {
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  color: var(--primary);
}

.where__content h6 {
  font-size: 14px;
  font-weight: 700;
  color: var(--dark);
  margin-bottom: 0;
  padding: 25px 0;
}

.tour__tag {
  padding-top: 20px;
}

.tour__tag span {
  font-size: 14px;
  font-weight: 400;
  color: var(--secondary);
}

.tour__tag span img {
  padding-right: 10px;
}

.where__buttons {
  padding-top: 50px;
}

.where__buttons .view_tour_guide_btn a {
  color: var(--secondary);
}

.where__content .info__btn p span {
  color: var(--secondary);
}

/* Where Go Section CSS End */

/* Tour Itinerary Section CSS Start */

.tour__itinerary__wrapper {
  background: var(--secondary);
  padding: 80px 0;
  margin-top: 70px;
}

.tour__itinerary__list ol li {
  list-style: number;
}

.tour__content h2 {
  font-family: "Playfair Display";
  font-size: 34px;
  font-weight: 700;
  line-height: 117%;
  color: var(--white);
  margin-bottom: 0;
}

.tour__content h2 span {
  color: #9599a0;
}

.tour__itinerary__list {
  padding: 20px 0 0 16px;
}

.tour__itinerary__list ol li {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 171.429%;
  color: var(--white);
  padding: 3px;
}

.tour__itinerary__list ol li span {
  font-weight: 400;
}

.tour__iternity__buttons {
  padding-top: 50px;
}

.tour__iternity__buttons .primary-btn a:hover {
  color: var(--black);
  background: var(--white);
}

/* Tour Itinerary Section CSS End */

/* Landscapes Section CSS Start */

.landscapes__wrapper {
  padding: 80px 0;
}

.landscapes__top {
  max-width: 835px;
}

.landscapes__top p {
  padding-top: 25px;
}

.landscapes__slider {
  padding-top: 40px;
}

.owl-dots.disabled {
  display: block !important;
}

.owl-theme .owl-dots .owl-dot span {
  width: 12px;
  height: 12px;
  background: var(--dark);
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 20px;
}

.owl-theme .owl-dots .owl-dot.active span {
  background: var(--primary);
}

/* Testimonial */

.testimonial {
  max-width: 670px;
  margin: auto;
  text-align: center;
  padding-top: 25px;
}

.quote__icon {
  position: relative;
}

.quote__icon::before,
.quote__icon::after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  width: 42%;
  height: 2px;
  background: #acb1b9;
}

.quote__icon::before {
  left: 0;
}

.quote__icon::after {
  right: 0;
}

.testimonial__card p {
  padding: 30px 0;
}

/* Landscapes Section CSS End */

/* FAQ Section HTML Start */

.faq__wrapper {
  padding: 80px 0;
  background: var(--secondary);
}

.faq__container {
  max-width: 900px;
  margin: auto;
}

.tour__content > p {
  color: var(--white);
  padding-top: 20px;
}

.faq__accordion {
  padding-top: 20px;
}

.accordion-item {
  background: transparent !important;
  border: 1px solid #393a3d;
}

.accordion-button {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  font-weight: 700;
  color: var(--white);
  padding: 10px 0;
  background: none;
}

.accordion-button::after {
  background-image: url(../images/plus-icon.svg);
}

.accordion-button:focus,
.accordion-button:not(.collapsed) {
  background: none !important;
  box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
  color: var(--white);
}

.accordion-button:not(.collapsed)::after {
  background-image: url(../images/minus-icon.svg);
  margin-top: -10px;
}

.accordion-body {
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 0;
}

.accordion-body p {
  font-size: 16px;
  line-height: 129%;
  color: var(--white);
  padding: 10px 0;
  margin-bottom: 0;
}

/* FAQ Section HTML End */

/* Book Tour Section CSS Start */

.book__tour__wrapper {
  background: url(../images/book-tour-bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.book__tour__container {
  max-width: 900px;
  margin: auto;
}

/* Book Tour Section CSS End */

/* Main Part CSS End */

/* Footer Part CSS Start */

.footer_wrapper {
  padding: 100px 0;
}

.footer_wrapper .container-fluid {
  padding: 0 60px;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 60px;
}

.footer__menu h6 {
  font-family: "Gilroy";
  font-size: 15px;
  font-weight: 700;
  color: #161c2d;
  opacity: 0.7;
}

.footer__nav li {
  padding: 7px 0;
}

.footer__nav li a,
.footer__nav li button {
  font-family: "Gilroy";
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -0.2px;
  text-decoration-line: underline;
  color: #181f32;
  background: transparent;
  border: none;
  transition: all 0.3s ease-in-out;
}

.footer__nav li a:hover,
.footer__nav li button:hover {
  color: var(--primary);
}

.footer__bottom {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid #e7e9ed;
}

.footer__copyright p {
  font-family: "Gilroy";
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.1px;
  margin-bottom: 0;
  color: #161c2d;
}

.footer__social ul li i {
  font-size: 24px;
  padding-left: 30px;
}

.footer__social ul li a {
  color: var(--black);
  transition: all 0.3s ease-in-out;
}

.footer__social ul li a:hover {
  color: var(--primary);
}

embed {
  height: 100vh;
}

/* Footer Part CSS End */
